﻿@model GameStation.ViewModel.FavoriteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Label)</h2>

<div>
    <h4>Favorite</h4>
    <hr />
    @foreach (var game in Model.gamesViewModel)
    {
        <h5> @Html.DisplayFor(Model => game.Name) </h5>
        <dl class="dl-horizontal">
            <dd>
                <img src=@Html.DisplayFor(Model => game.Image) alt="Picture" height="125" width="125" />
            </dd>

            <dt>
                @Html.DisplayNameFor(Model => game.Console)
            </dt>

            <dd>
                @Html.DisplayFor(Model => game.Console.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(Model => game.Genre.Name)
            </dt>

            <dd>
                @Html.DisplayFor(Model => game.Genre.Name)
            </dd>

        </dl>

        @Html.ActionLink("Detail", "Details", "Games", new { id = game.ID }, null)
        @Html.ActionLink("Delete Game from the list", "Delete", "Favorite_Game", new { FavoriteId = Model.ID, GameId = game.ID }, null)

    <hr />
    }

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
