﻿@model IEnumerable<GameStation.Models.Review>

@foreach (var item in Model)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.User.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vote)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Vote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isRecommanded)
        </dt>
        <dd>
            @if (item.isRecommanded)
            {
                <div>Recommanded </div>
            }
            else
            {
                <div>NotRecommanded </div>
            }
        </dd>
    </dl>
    <div>
        <strong> review was usefull?</strong>
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Yes", "Upvote", "Reviews", new { GameId = item.GameId, UserId = item.UserId, isUpvote = true }, new { style = "color:white" })
        </button>
        <button type="button" class="btn btn-danger">
            @Html.ActionLink("No", "Upvote", "Reviews", new { GameId = item.GameId, UserId = item.UserId, isUpvote = false }, new { style = "color:white" })
        </button>

        @if (this.Session["UserID"] != null && item.UserId == (int)this.Session["UserID"])
        {
            @Html.ActionLink("Delete", "Delete", "Reviews", new { GameId = item.GameId, UserId = item.UserId }, null)

            @Html.ActionLink("Edit", "Edit", "Reviews", new { GameId = item.GameId, UserId = item.UserId }, null)
        }
    </div>
    <hr />
}



