﻿@model GameStation.ViewModel.GamePriceViewModel

@{
    ViewBag.Title = "Details";
}

@section Scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#GameSearch').click({
            source : '@Url.Action("GetGameName")'
        });
    });
    </script>

}

<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @Html.ActionLink("Add to Favorite", "AddOrCreateFavorite", "Favorites", new { gameId = Model.ID}, null) 
</div>

<div style="color:red">@ViewBag.message</div>

<div>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.Image) alt="Picture" height="125" width="125" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Console.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Console.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceCIB)
        </dt>
        @if (Model.PriceCIB == 0)
        {
            <dd style="color:red">
                ***The prices are currently unavailable for this game...***
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.PriceCIB)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.PriceLoose)
        </dt>
        @if (Model.PriceLoose == 0)
        {
            <dd style="color:red">
                ***The prices are currently unavailable for this game...***
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.PriceLoose)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.PriceNew)
        </dt>

        @if (Model.PriceNew == 0)
        {
            <dd style="color:red">
                ***The prices are currently unavailable for this game...***
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.PriceNew)
            </dd>
        }
    </dl>
</div>

<h3>Reviews</h3>

<hr />
<br />

@{Html.RenderPartial("~/Views/Reviews/Index.cshtml", Model.Reviews);}

<hr />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Add Review", "Create", "Reviews", new { id = Model.ID }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
