﻿@model IEnumerable<GameStation.ViewModel.GameListViewModel>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#GameSearch').autocomplete({
            source : '@Url.Action("GetGameName")'
        });
    });
    </script>
@Scripts.Render("~/bundles/jqueryval")

}
<h2>Games</h2>

<div class="navbar-left" style="margin-top:8px;">
    @using (Html.BeginForm("getGamesByName", "Games"))
    {
        <ul class="nav navbar-nav">
            <li><input type="text" name="term" id="GameSearch" placeholder="Game Name" /></li>
            <li>
                <button type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </li>
        </ul>
    }
</div>

<br />

<p>
    @Html.ActionLink("Add a new game", "Create")
</p>

<br />

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Console)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item1 in Model)
    {
        <tr>
            <td>
                <img src=@Html.DisplayFor(modelItem => item1.Image) alt="Picture" height="125" width="125" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item1.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item1.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item1.Console.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item1.Genre.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item1.ID }) 
            </td>
        </tr>
    }

</table> 
