﻿@model GameStation.Models.Favorite_Game

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<div style="color:red">@ViewBag.message</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Favorite_Game</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FavoriteId, "FavoriteId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FavoriteId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FavoriteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Details", "Games", new { id = this.Session["GameID"] }, null)
    @Html.ActionLink("Create a new List", "Create", "Favorites", new { id = this.Session["UserID"]}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
