﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GameStation</title>
    <link rel="shortcut icon" href="~/Content/GameStationLogoFavicon.ico" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GameStation", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <img src="~/Content/GameStationLogo.jpg" height="50" width="50" />

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Games", "Index", "Games")</li>
                    <li>@Html.ActionLink("Questions/Answers", "Index", "Questions")</li>

                    @if (Session["UserID"] == null)
                    {
                        <li>@Html.ActionLink("Login/Signup", "Login", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Favorites", "Index", "Favorites")</li>
                        <li> @Html.ActionLink("Profile", "Details", "Users", new { id = Session["UserID"] }, null)  </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                    }
                </ul>


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GameStation Application</p>
            <a href="https://www.pricecharting.com/" target="_blank"> <img src="~/Content/PriceChartingLogo.png" alt="PriceChartingLogo"/> </a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
