﻿@model IEnumerable<GameStation.Models.Answer>

@foreach (var item in Model)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.User.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vote)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Vote)
        </dd>
    </dl>
    <div>
        <strong> Was this answer useful?</strong>
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Yes", "Upvote", "Answers", new { AnswerId = item.ID, UserId = item.UserId, isUpvote = true }, new { style = "color:white" })
        </button>
        <button type="button" class="btn btn-danger">
            @Html.ActionLink("No", "Upvote", "Answers", new { AnswerId = item.ID, UserId = item.UserId, isUpvote = false }, new { style = "color:white" })
        </button>

        @if (this.Session["UserID"] != null && item.UserId == (int)this.Session["UserID"])
        {
            @Html.ActionLink("Delete", "Delete", "Answers", new { AnswerId = item.ID, UserId = item.UserId }, null) 
            
            @Html.ActionLink("Edit", "Edit", "Answers", new { AnswerId = item.ID, UserId = item.UserId }, null)
        }
    </div>
    <hr />
}